---
import { SITE } from "@src/consts";
import { getSortedBlogPosts } from "../../utils/blog";
import BlogPostPreview from "../../components/BlogPostPreview.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";
import Pagination from "../../components/Pagination.astro";

export async function getStaticPaths({ paginate }: { paginate: any }) {
  const allPosts = await getSortedBlogPosts();
  return paginate(allPosts, {
    pageSize: SITE.POSTS_PER_PAGE,
  });
}

import type { Page } from "astro";
import type { CollectionEntry } from "astro:content";

interface Props {
  page: Page<CollectionEntry<"blog">>;
}

const { page } = Astro.props;
const pageTitle = "Blog";
---

<BaseLayout title={pageTitle}>
  <div class="mb-4">
    <Pagination page={page} />
  </div>

  <ul
    id="post-container"
    class={`list-none p-0 m-0 ${SITE.BLOG_GRID_CLASSES}`}
  >
    {
      page.data.map((post) => (
        <li>
          <BlogPostPreview post={post} />
        </li>
      ))
    }
  </ul>

  <div class="mt-8">
    <Pagination page={page} />
  </div>
</BaseLayout>