---
import { SITE } from "@src/consts";
import type { GetStaticPathsOptions } from "astro";
import { getSortedBlogPosts } from "../../utils/blog";
import BlogPostPreview from "../../components/BlogPostPreview.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";
import Pagination from "../../components/Pagination.astro";

export async function getStaticPaths({ paginate }: GetStaticPathsOptions) {
  const allPosts = await getSortedBlogPosts();

  return paginate(allPosts, { pageSize: SITE.POSTS_PER_PAGE });
}

const { page } = Astro.props;

// 첫 번째 페이지는 /blog 경로로 리다이렉트
if (page.currentPage === 1) {
  return Astro.redirect("/blog");
}

const pageTitle = `Blog - Page ${page.currentPage}`;
---

<BaseLayout title={pageTitle}>
  <div class="mb-4">
    <Pagination {page} />
  </div>

  <ul
    id="post-container"
    class={`list-none p-0 m-0 ${SITE.BLOG_GRID_CLASSES}`}
  >
    {
      page.data.map((post) => (
        <li>
          <BlogPostPreview post={post} />
        </li>
      ))
    }
  </ul>

  <div class="mt-8">
    <Pagination {page} />
  </div>
</BaseLayout>
