---
import { SITE } from "@src/consts";
import { getSortedBlogPosts } from "../../utils/blog";
import BlogPostPreview from "../../components/BlogPostPreview.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";
import Pagination from "../../components/Pagination.astro";

const allPosts = await getSortedBlogPosts();
const firstPagePosts = allPosts.slice(0, SITE.POSTS_PER_PAGE);

// 가짜 Page 객체 생성
const fakePage = {
  data: firstPagePosts,
  currentPage: 1,
  lastPage: Math.ceil(allPosts.length / SITE.POSTS_PER_PAGE),
  url: {
    prev: undefined,
    next: allPosts.length > SITE.POSTS_PER_PAGE ? '/blog/2' : undefined,
  },
};

const pageTitle = "Blog";
---

<BaseLayout title={pageTitle}>
  <div class="mb-4">
    <Pagination page={fakePage} />
  </div>

  <ul
    id="post-container"
    class={`list-none p-0 m-0 ${SITE.BLOG_GRID_CLASSES}`}
  >
    {
      firstPagePosts.map((post) => (
        <li>
          <BlogPostPreview post={post} />
        </li>
      ))
    }
  </ul>

  <div class="mt-8">
    <Pagination page={fakePage} />
  </div>
</BaseLayout>